.documentation-page {

  h1 {
    margin-bottom: 60px;
  }

  h2, h3 {
    margin-bottom: 40px;
  }

  table {
    width: 100%;

    td {
      padding: 0 $space-base;
      width: 50%;
    }
  }

  code {
    display: block;
    background-color: #eee;
    margin: 12px 0;
    padding: 12px;
  }


}