.bottom-bar {
  display: none;
  align-items: center;
  flex-wrap: wrap;
  padding: 12px $space-base;

  &-content {
    width: calc(100% - 171px);
  }

  &-btn {
    text-align: right;
    width: 171px;
  }

  h5 {
    margin-bottom: 5px;
  }

  .price .retail-price {
    color: $main-font-color;
  }

  @include max768 {
    display: flex;
  }
}