button {
  border: none;
  background: none;
  padding: 0;
}

.btn {
  display: inline-block;
  font-size: 22px;
  color: $blue-dark;
  text-align: center;
  line-height: 2.45;
  text-decoration: none;
  font-weight: 700;
  box-sizing: border-box;

  &:disabled {
    opacity: 0.5;
  }

  @include max768 {
    line-height: 2.7;
  }
}

.btn-primary {
  border: 3px solid $blue-dark;
  width: 100%;
  max-width: 217px;
  background-color: #fff;

  &:hover {
    background-color: #add3ff;
  }

  &:focus {
    background-color: #87a5c7;
  }

  &.green {
    background: #80FA9E;
    box-shadow: 0 4px 7px 0 rgba(32,67,113,0.40);

    &:hover {
      background-color: #b6ffc8;
    }

    &:focus {
      background-color: #6bca93;
    }

    &:disabled {
      &:hover {
        background-color: #80FA9E;
      }
    }
  }

  &:disabled {
    &:hover {
      background-color: #fff;
    }
  }

  @include max768 {
    max-width: 140px;
    font-size: $fs-base;
  }

  @media (max-width: $screen-xs) {
    max-width: 120px;
    font-size: $fs-base;
  }
}



.btn-default {
  padding-left: 3em;
  padding-right: 3em;
  color: $blue-dark;
  font-size: $fs-base;
}

.btn-link {
  font-size: $fs-base;
  color: $blue;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.btn-large {
  width: 100%;
  max-width: 300px;
}

.btn-block {
  display: block;
  max-width: none;
  width: 100%;
}

.btn-block-mobile {
  @include max768 {
    display: block;
    width: 100%;
    max-width: none;
  }
}

.btn-border {
  text-align: center;
  color: $blue;
  line-height: 48px;
  background-color: $grey-bg;
  border: $border-bold;
}

.back-link {
  color: $blue-dark;

  .btn-link {
    color: inherit;

    @include max768 {
      padding-left: 0;
    }
  }
}

.btn-pay {
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    max-width: 50px;
  }

  @include max768 {
    max-width: none;

    img {
      max-width: 35px;
    }
  }
}